@page
@model Api.Depot.UIL.Pages.Student.LessonDetailsModel
@{
}

@{
	if (@Model.LessonDetails is null)
	{
		<h1 class="fs-4">@ViewData["EmptyDetails"]</h1>
	}
	else
	{
		<h1 class="fs-4">@Model.LessonDetails.Title</h1>
		<div class="row">
			<p>@Model.LessonDetails.Details</p>
		</div>
		<hr />

		foreach (var file in Model.LessonFiles)
		{
			<div class="input-group mb-3" id="lesson_@file.Id">
				<a class="form-control" href="@($"/api/lessonfile/{file.Id}")" style="min-width:50%;" download>
					@file.FilePath.Split('\\').Last()
				</a>
			</div>
		}
	}
}