@using Api.Depot.UIL.Extensions
@using Api.Depot.UIL.Static_Data

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-md">
		<a asp-page="/Index" asp-area="" class="navbar-brand"> Dépot </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link @Html.ActiveClass("/Index")" asp-page="/Index" asp-area="">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link @Html.ActiveClass("/Lessons")" asp-page="/Lessons">Cours disponible</a>
				</li>
				@{
					if (User is not null)
					{
						if (User.IsInRole(RolesData.STUDENT_ROLE))
						{
							<li class="nav-item">
								<a class="nav-link @Html.ActiveClass("/Student/Schedule")" asp-page="/Student/Schedule" asp-area="">
									Horaire
								</a>
							</li>
						}
						if (User.IsInRole(RolesData.TEACHER_ROLE))
						{
							<li class="nav-item">
								<a class="nav-link @Html.ActiveClass("/Index", "Teachers")" asp-page="/Index" asp-area="Teachers">
									Panel professeur
								</a>
							</li>
						}
						if (User.IsInRole(RolesData.ADMIN_ROLE))
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle @Html.ActiveClass("/Admin")" href="#" id="navbarAdminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Panel administrateur
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarAdminDropdown">
									<li><a class="dropdown-item @Html.ActiveClass("/Admin/Users", "")" asp-page="/Admin/Users" asp-area="">Utilisateurs</a></li>
								</ul>
							</li>
						}
					}
				}
			</ul>
			<div class="d-flex me-2">
				<input id="searchInput" class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
				<button class="btn btn-outline-success" onclick="onSearchClick()"><i class="bi bi-search"></i></button>
			</div>
			<partial name="_LoginPartial" />
		</div>
	</div>
</nav>

<script>
	function onSearchClick() {
		let query = $('#searchInput').val();
		window.location.href = "search?q=" + query;
	}
</script>