@page
@model Api.Depot.UIL.Pages.Admin.UsersModel
@{
}

<div class="container">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Matricule</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Email</th>
					<th scope="col">Date de naissance</th>
					<th scope="col">Est actif</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>mdo</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>fat</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td colspan="2">Larry the Bird</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row">
		<nav aria-label="Navigation des utilisateurs">
			<ul class="pagination justify-content-center">

				@if (Model.HasPrevious == true)
				{
					<li class="page-item">
						<a class="page-link" asp-page="/Admin/Users" asp-route-p="@(Model.ActualPage - 1)">Précédent</a>
					</li>
					<li class="page-item">
						<a class="page-link" asp-page="/Admin/Users" asp-route-p="@(Model.ActualPage - 1)">@(Model.ActualPage - 1)</a>
					</li>
				}
				else
				{
					<li class="page-item disabled">
						<span class="page-link">Précédent</span>
					</li>
				}

				<li class="page-item active" aria-current="page">
					<span class="page-link">@Model.ActualPage</span>
				</li>

				@if (Model.HasNext == true)
				{
					<li class="page-item">
						<a class="page-link" asp-page="/Admin/Users" asp-route-p="@(Model.ActualPage + 1)">@(Model.ActualPage + 1)</a>
					</li>
					<li class="page-item">
						<a class="page-link" asp-page="/Admin/Users" asp-route-p="@(Model.ActualPage + 1)">Next</a>
					</li>
				}
				else
				{
					<li class="page-item disabled">
						<span class="page-link">Suivant</span>
					</li>
				}
			</ul>
		</nav>
	</div>

</div>

