@page
@model Api.Depot.UIL.Pages.Admin.UsersModel
@{
}

<div class="container">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Matricule</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Email</th>
					<th scope="col">Date de naissance</th>
					<th scope="col">Est actif</th>
					<th scope="col">#</th>
				</tr>
			</thead>
			<tbody>

				@{
					foreach (var user in Model.Users)
					{
						<tr>
							<th scope="row">@user.RegistrationNumber</th>
							<td>@user.Lastname</td>
							<td>@user.Firstname</td>
							<td>@user.Email</td>
							<td>@user.Birthdate.ToString("dd-MM-yyyy")</td>
							<td>@user.IsActivated</td>
							<td>
								<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#userModificationModal" data-bs-whatever="@user.Id" onclick="onModalOpened(@user.Id)">
									Modifier
								</button>
							</td>
						</tr>
					}
				}

			</tbody>
		</table>
	</div>

	<div class="row">
		<nav aria-label="Navigation des utilisateurs">
			<ul class="pagination justify-content-center">

				@if (Model.HasPrevious == true)
				{
					<li class="page-item">
						<a class="page-link" asp-page="/Admin/Users" asp-route-p="@(Model.ActualPage - 1)">Précédent</a>
					</li>
					<li class="page-item">
						<a class="page-link" asp-page="/Admin/Users" asp-route-p="@(Model.ActualPage - 1)">@(Model.ActualPage - 1)</a>
					</li>
				}
				else
				{
					<li class="page-item disabled">
						<span class="page-link">Précédent</span>
					</li>
				}

				<li class="page-item active" aria-current="page">
					<span class="page-link">@Model.ActualPage</span>
				</li>

				@if (Model.HasNext == true)
				{
					<li class="page-item">
						<a class="page-link" asp-page="/Admin/Users" asp-route-p="@(Model.ActualPage + 1)">@(Model.ActualPage + 1)</a>
					</li>
					<li class="page-item">
						<a class="page-link" asp-page="/Admin/Users" asp-route-p="@(Model.ActualPage + 1)">Next</a>
					</li>
				}
				else
				{
					<li class="page-item disabled">
						<span class="page-link">Suivant</span>
					</li>
				}
			</ul>
		</nav>
	</div>

</div>

<div class="modal fade" id="userModificationModal" tabindex="-1" aria-labelledby="Modification de l'utilisateur'" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modelUserName"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer" onclick="onModalClosed"></button>
			</div>
			<div class="modal-body">
				<div class="row" id="modelUserRoles">
				</div>
				<form>
					<div class="mb-3">
						<label for="modalUserAvailableRoles" class="col-form-label">Ajouter un rôle</label>
						<select name="modalAvailableRoles" id="modalAvailableRoles">
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" onclick="onModalClosed()" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="onModalSaved()">Send message</button>
			</div>
		</div>
	</div>
</div>

<script>

	function onModalClosed() {

	}

	function onModalSaved() {

	}

	function onModalOpened(let userId) {

		$.ajax({
			url: "/api/user/" + userId,
			type : 'GET',
			dataType: 'JSON',
			success: function(response){
				$('#modalUserName').text(user.Lastname + " " + user.Firstname);
			},
			error: function(xhr) {
				$.notify(xhr.responseText, "error");
				console.log(xhr);
			}
		})
	}

	function setModalUserInfos(let user) {
		
	}

</script>


