@page
@model Api.Depot.UIL.Pages.SearchModel
@{
}

<h1 class="fs-3">Résultat de recherche pour @Model.Query</h1>

@{
	foreach (var result in Model.SearchResult)
	{
		<div class="row" id="result_@result.Id">
			<h2>
				<a href="#" id="result_id_title" class="primary-link">@result.Name</a>
			</h2>
			<div class="d-inline-block mt-1 mb-1">
				<span class="fw-bold fs-5">Professeur : </span><span class="ms-1">Mr/Mme  @result.TeacherName</span>
			</div>
			<div class="d-inline-block mt-1 mb-1">
				<span class="fw-bold fs-5">Numéro de matricule :</span> <span class="ms-1">@result.TeacherRegistrationNumber</span>
			</div>
			<div class="row mt-1 mb-1">
				<span class="fw-bold fs-5">Description</span>
				<p>@result.Description</p>
			</div>
		</div>
		<hr />
	}
}

<div class="row">
	<nav aria-label="Navigation des utilisateurs">
		<ul class="pagination justify-content-center">

			@if (Model.HasPrevious == true)
			{
				<li class="page-item">
					<a class="page-link" asp-page="/search" asp-route-q="@Model.Query" asp-route-p="@(Model.ActualPage - 1)">Précédent</a>
				</li>
				<li class="page-item">
					<a class="page-link" asp-page="/search" asp-route-q="@Model.Query" asp-route-p="@(Model.ActualPage - 1)">@(Model.ActualPage - 1)</a>
				</li>
			}
			else
			{
				<li class="page-item disabled">
					<span class="page-link">Précédent</span>
				</li>
			}

			<li class="page-item active" aria-current="page">
				<span class="page-link">@Model.ActualPage</span>
			</li>

			@if (Model.HasNext == true)
			{
				<li class="page-item">
					<a class="page-link" asp-page="/search" asp-route-q="@Model.Query" asp-route-p="@(Model.ActualPage + 1)">@(Model.ActualPage + 1)</a>
				</li>
				<li class="page-item">
					<a class="page-link" asp-page="/search" asp-route-q="@Model.Query" asp-route-p="@(Model.ActualPage + 1)">Next</a>
				</li>
			}
			else
			{
				<li class="page-item disabled">
					<span class="page-link">Suivant</span>
				</li>
			}
		</ul>
	</nav>
</div>