@page
@model Depot.UIL.Areas.Teachers.Pages.DetailsModel
@{
	DateTime startDate = (DateTime)TempData["LessonStartsAt"];
}

<h1>@TempData["LessonName"]</h1>
<div class="row">
	<span class="fw-bold">@TempData["LessonTeacher"]</span>
	<span>@TempData["LessonTeacherNumber"]</span>
</div>

<hr />

<div class="row col-3">
	<span class="fw-bold text-lg-start">Début</span>
	<span>@startDate.ToString("D") à @startDate.ToString("t")</span>
</div>

<hr />

<form method="post">

	<input asp-for="LessonUpdate.Id" value="@Model.LessonUpdate.Id" hidden />

	<div class="form-group">
		<label asp-for="LessonUpdate.EndsAt" class="form-label fw-bold">Fin</label>
		<input asp-for="LessonUpdate.EndsAt" class="form-control" type="date" />
		<span asp-validation-for="LessonUpdate.EndsAt" class="text-danger"></span>
	</div>

	<hr />

	<div class="form-group">
		<label asp-for="LessonUpdate.Description" class="form-label fw-bold">Description</label>
		<textarea name="LessonUpdate.Description" value="@Model.LessonUpdate.Description" class="form-control" style="min-width:100%">@Model.LessonUpdate.Description</textarea>
		<span asp-validation-for="LessonUpdate.Description" class="text-danger"></span>
	</div>

	<hr />

	<div class="d-flex justify-content-lg-between" id="daysOfWeek">
		@{
			for (int i = 0; i < Model.LessonDays.Count; i++)
			{
				<div id="@Model.LessonDays[i].DayName" style="width:15%;">
					<h2>@Model.LessonDays[i].DayName</h2>
					<input asp-for="@Model.LessonDays[i].Day" name="LessonDays[@i].Day" hidden />
					<input asp-for="@Model.LessonDays[i].DayName" name="LessonDays[@i].DayName" type="text" hidden />
					<br />
					<label>Sélectionner</label>
					<input asp-for="@Model.LessonDays[i].IsSelected" name="LessonDays[@i].IsSelected" onclick="makeAvailable(@Model.LessonDays[i].DayName)" type="checkbox" placeholder="Date sélectionnée" />
					<br />
					<label value="@Model.LessonDays[i].StartsAt">Début</label>
					<input value="@Model.LessonDays[i].StartsAt" name="LessonDays[@i].StartsAt" type="time" class="form-control" @(Model.LessonDays[i].IsSelected ? "" : "disabled") placeholder="Début du cours" />
					<label value="@Model.LessonDays[i].EndsAt">Fin</label>
					<input value="@Model.LessonDays[i].EndsAt" name="LessonDays[@i].EndsAt" type="time" class="form-control" @(Model.LessonDays[i].IsSelected ? "" : "disabled") placeholder="Fin du cours" />
				</div>
			}
		}
	</div>
	<br />

	<div class="btn-group">
		<button type="submit" asp-page-handler="Delete" class="btn btn-danger" style="width:150px;">Supprimer</button>
		<button type="submit" asp-page-handler="Modify" class="btn btn-primary" style="width:150px;">Modifier</button>
	</div>
</form>