@page
@model Depot.UIL.Areas.Teachers.Pages.DetailsUpdateModel
@{
}

<form method="POST" enctype="multipart/form-data">
	<input asp-for="LessonDetails.Id" type="text" hidden />
	<input asp-for="LessonDetails.LessonTimetableId" type="text" hidden />
	<div class="form-group">
		<label asp-for="LessonDetails.Title" class="form-label">Titre du cours</label>
		<input asp-for="LessonDetails.Title" value="@Model.LessonDetails.Title" type="text" class="form-control" style="min-width:100%;" />
		<span asp-validation-for="LessonDetails.Title" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="LessonDetails.Details" class="form-label">Détails</label>
		<textarea name="LessonDetails.Details" value="@Model.LessonDetails.Details" class="form-control" style="min-width:100%;">@Model.LessonDetails.Details</textarea>
		<span asp-validation-for="LessonDetails.Details" class="text-danger"></span>
	</div>

	<hr />

	@{
		foreach (var file in Model.LessonFiles)
		{
			<div class="input-group mb-3" id="lesson_@file.Id">
				<span class="form-control" style="min-width:50%;">@file.FilePath.Split('\\').Last()</span>
				<a class="btn btn-outline-danger" onclick="deleteLessonFile(@file.Id)">X</a>
			</div>
		}
	}

	<hr />

	<div class="form-group">
		<label class="form-label">Fichiers</label>
		<input name="postedFiles" type="file" class="form-control" style="min-width:100%;" multiple />
	</div>
	<hr />
	<div class="btn-group">
		<button type="submit" asp-page-handler="Delete" class="btn btn-danger" style="min-width:150px;">Supprimer</button>
		<button type="submit" asp-page-handler="Update" class="btn btn-primary" style="min-width:150px;">Enregistrer</button>
	</div>
</form>

<script>

	function deleteLessonFile(id) {
		$.ajax({
			url: '/api/lessonfile/' + id,
			type: 'DELETE',
			success: function(data, status, xhr) {
				if(status == "success") {
					$.notify(xhr.responseText, "success");

					$('#lesson_' + id).remove();

				} else {
					$.notify(xhr.responseText, "error");
				}
			},
			error: function(xhr) {
				$.notify(xhr.responseText, "error");
				console.log(xhr.responseText);
			}
		})
	}

</script>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}